

.price-text{
    color: #967E76;
    float: right;
   
}


.title-text{
    font-size: 20px;
    color: #967E76;
}

.bed-icon{
    color: #967E76;  
}

.text-icon{
    color: black;
}

.btn-see{
    text-decoration: none;
}

